# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules

# IDE (GoLand / IntelliJ)
.idea/
*.iml

# Editor
.vscode/

# Local environment & logs
.env
*.log

# Local data and static assets
storage/db/*.db
storage/files/
storage/tmp/

# sensitive files
